mat-card {
  display: flex;
  flex-direction: column;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.thumbsup-button {
  margin-top: 0;
  padding-top: 0;
  margin-left: auto;
}

.dashboard-card-content {
  // text-align: center;
  max-height: 100%;

  // container properties
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  // items properties
  flex-grow: 1;
}
