.feedback-form-wrapper {
  margin: 10px;
  text-align: center;
}

mat-form-field {
  width: 100%;
}

.text-area {
  resize: none;
}

.thanks-text {
  padding-top: 10px;

  &.center {
    text-align: center;
  }
}

.submit-btn {
  font-size: 12px;
}
